<div class="arCardsWrap">
		<%# Absolute SVG that is displayed on page %>
    

		<%# Cards %>
		<div class="arCards">
				<div class="imgContainer arCard1"></div>
				<article>
					<h3>Investment Management Specialization</h3>
					<p>Make Smart Investment Decisions in a Global World.</p>
				</article>
				<div class="arCardsAWrap"><a href="https://www.coursera.org/specializations/investment-management" target="_blank"><button class="buttonPrimary">View course</button></a></div>
			</div>

		<div class="arCards">
			<div class="imgContainer arCard2"></div>
			<article>
				<h3>Complete Financial Analyst Course</h3>
				<p>Excel, Accounting, Financial Statement Analysis, Business Analysis, Financial Math, PowerPoint: Everything is Included!</p>
			</article>
			<div class="arCardsAWrap"><a href="https://www.udemy.com/course/the-complete-financial-analyst-course/" target="_blank"><button class="buttonPrimary">View course</button></a></div>
		</div>

		<div class="arCards">
			<div class="imgContainer arCard3"></div>
			<article>
				<h3>CAPITAL ONE HACKATHON API</h3>
				<p>Nessie: Capital One's Hackathon API for real public data on ATMs, bank branches, and mock customer accounts.</p>
			</article>
			<div class="arCardsAWrap"><a href="http://api.nessieisreal.com/" target="_blank"><button class="buttonPrimary">View course</button></a></div>
		</div>

 

</div>