<section class="hero">
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>Finance
        <span	class="headerSecondaryText">Plus+</span>
        </h1>
				<p>In today's ever-changing financial landscape, informed decisions are vital for achieving success. At Finance Plus+, we understand the immense value of financial literacy and its impact on individuals' lives. Our mission is to empower people with comprehensive tools and knowledge to navigate finance confidently. With real-time market data, expert analysis, and user-friendly resources, we guide users in investing wisely, managing debt, planning for retirement, and building financial security. 
          
Finance Plus+ fosters a community of financially savvy individuals, making sound choices and embracing their financial journey with clarity and confidence.


</p>
	<button class="buttonPrimary">Explore</button>
			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art.jpg" />
		</span>
</section>